.brand{
    cursor: pointer;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #4458dc, #854fee) !important;
    font-size: 22px;
    font-family: 'Rubik';
}
