@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.titles{
  font-weight: 600;
  font-size: 48px;
}

.text-desc
{
  color: rgb(144, 143, 143);
  font-size: 18px;
  font-weight: 300;
  line-break: loose ;
}


ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
font-size: 18px;
  transition: all 0.5s;
}

.underlineHover{
  color: black;
  position: relative;
  text-decoration: none;
}

.underlineHover::after{
  content: "";
  position: absolute;
  height: 3px;
  top: 100%;
  left: 0;
  width: 0%;
  background-color: #854fee;
  /* transform-origin: bottom right; */
  transition: all 1s;
}

.underlineHover:hover::after{
  width: 100%;
}


.active {
  font-weight: bold;
  color: #4458dc;
  text-decoration: none;
}


hr {
  height: 1px;
  width: 50%;
}